<div class="container">
  <div class="mt-5 mb-1">
    <h2>Criteria comparisons</h2>
  </div>
  <div class="mb-5"><h4>Compare {{CriterionName}} to</h4></div>
  <div class="mb-2"><a [routerLink]="['/choices']">Choices</a> / <a [routerLink]="['/criteria/' + choiceID]">Criteria</a></div>
  <div class="row" *ngFor="let comparison of criterionComparisons">
    <div class="col">
      <div class="card">
        <div class="card-body">
          {{ DisplayName(comparison) }}

          <input type="number" min="-8" max="8" onfocusout="if(this.value > 8) {this.value = 8} if(this.value<-8){this.value = -8}" value="{{ DisplayRatio(comparison) }}" (focusout)="AddToUpdate(comparison, $event.target.value)" />
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-success my-2" (click)="Save()">Save</button>
  <div>
    <a [routerLink]="" (click)="PreviousPage()" class="mx-2 text-info">Previous page</a>
    <a [routerLink]="" (click)="NextPage()" class="mx-2 text-info">Next page</a>
  </div>
  <div class="row">
    Positive number means preffered, negative not prefered<br />
    0->Equally <br />
    1->Equally to moderatly <br />
    2->Moderatly <br />
    3->Moderatly to strong <br />
    4->Strongly <br />
    5->Strongly to very strongly <br />
    6->Very strongly <br />
    7->Very to extremely strongly <br />
    8->Extremely
  </div>
</div>

