<div class="container">
  <div class="row mb-5 mt-5">
    <div class="col">
      Izaberi kriterij:
    </div>
  </div>
  <div class="row" *ngFor="let comparison of criterionComparisons">
    <div class="col">
      <div class="card">
        <div class="card-body">
          {{ comparison.CiteriaID2 }}
          <form class="mr-2"(ngSubmit)="Edit(criterion)" [formGroup]="EditForm">
            <input type="text" formControlName="ratio" value="{{ comparison.CriteriaRatio }}" />
            <input type="submit" name="save" value="Save" class="btn-xs btn-success">
          </form>
          <button class="btn btn-danger" (click)="Delete(criterion)">Delete</button>
          <a [routerLink]="['comparisons']" class="btn btn-primary mr-2">Comparisons</a>
        </div>
      </div>
    </div>
  </div>
  <div>
    <button class="btn-xs btn-warning mr-2" (click)="PreviousPage()">Previous page</button>
    <button class="btn-xs btn-warning mr-2" (click)="NextPage()">Next page</button>
  </div>
  <a [routerLink]="['add']">Add</a>
</div>

