<div class="container">
  <div class="row mb-5 mt-5">
    <div class="mb-2"><a [routerLink]="['/choices']">Choices</a></div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Alternative</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alternative of alternatives">
        <td>
          {{alternative.AlternativeName}}
        </td>
        <td>
          {{alternative.AlternativeScore * 100 | number:'2.2-2'}}
        </td>
      </tr>
    </tbody>
  </table>
  <a [routerLink]="" (click)="PreviousPage()" class="mx-2 text-info">Previous page</a>
  <a [routerLink]="" (click)="NextPage()" class="mx-2 text-info">Next page</a>
  <div class="col">
    <button class="btn btn-primary my-2" (click)="Calculate()">Calculate</button>
  </div>
</div>
