<div class="container">
  <div class="row mb-5 mt-5">
    <div class="col">
      Izaberi kriterij:
    </div>
  </div>
  <div class="row" *ngFor="let criterion of criteria">
    <div class="col">
      <div class="card">
        <div class="card-body">
          {{ criterion.CriteriaName }}
          <form id="edit{{criterion.CriteriaID}}" class="mr-2" style="display: none" (ngSubmit)="Edit(criterion)" [formGroup]="EditForm">
            <input type="text" formControlName="newName" value="{{ criterion.CriteriaName }}" />
            <input (click)="MakeEditInvisible('edit' + criterion.CriteriaID)" type="submit" name="save" value="Save" class="btn-xs btn-success">
          </form>
          <button (click)="MakeEditVisible('edit' + criterion.CriteriaID)" class="btn btn-warning mr-2">Edit</button>
          <button class="btn btn-danger" (click)="Delete(criterion)">Delete</button>
          <a [routerLink]="[criterion.CriteriaID]" class="btn btn-primary mr-2">Comparisons</a>
        </div>
      </div>
    </div>
  </div>
  <div>
    <button class="btn-xs btn-warning mr-2" (click)="PreviousPage()">Previous page</button>
    <button class="btn-xs btn-warning mr-2" (click)="NextPage()">Next page</button>
  </div>
  <a [routerLink]="['add']">Add</a>
</div>
