<div class="container">
    <div class="mt-5 mb-1">
      <h2>Criteria</h2>
    </div>
    <div class="mb-5"><h4>Manage criteria</h4></div>
  <div class="mb-2"><a [routerLink]="['/choices']">Choices</a></div>
  <form class="form mr-2" (ngSubmit)="Add()" [formGroup]="AddForm">
    <input type="text" formControlName="Name" placeholder="Name" />
    <input type="submit" class="btn btn-success" name="Add" value="Add" />
  </form>
  <table class="table table-hover my-2">
    <tr *ngFor="let criterion of criteria">
      <td>
        <span id="cname{{criterion.CriteriaID}}">{{ criterion.CriteriaName }}</span>
        <form id="edit{{criterion.CriteriaID}}" class="mr-2" style="display: none" (ngSubmit)="Edit(criterion)" [formGroup]="EditForm">
          <input type="text" formControlName="newName" value="{{ criterion.CriteriaName }}" />
          <button (click)="MakeEditInvisible(criterion.CriteriaID)" type="submit" style="background: none" class="mx-auto">
            <fa-icon icon="check"></fa-icon>
          </button>
        </form>
        <a [routerLink]="" (click)="MakeEditVisible(criterion.CriteriaID)" class="mx-2" id="editbutton{{criterion.CriteriaID}}"><fa-icon icon="pen"></fa-icon></a>
      </td>
      <td>
        <a [routerLink]="[criterion.CriteriaID]" (click)="AddToStorage(criterion)" class="mx-2">Comparisons</a>
        <a [routerLink]="" class="text-danger mx-2" (click)="Delete(criterion)">Delete</a>
      </td>
  </table>
  <div>
    <a [routerLink]="" (click)="PreviousPage()" class="mx-2 text-info">Previous page</a>
    <a [routerLink]="" (click)="NextPage()" class="mx-2 text-info">Next page</a>
  </div>
</div>
